body{
    background-color: rgb(221, 221, 221);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 14px;
}
.cl-00{
    background-color: rgb(255, 255, 255);
}
.cl-01{
    background-color: brown;
}
.cl-02{
    background-color: blueviolet;
}
.cl-03{
    background-color: rgb(223, 189, 0);
}
.cc-00{
    color: white;
}
.round{
    border-radius: 4px;
}
.box{
    background-color: rgb(255, 255, 255);
    padding: 15px;
}
.jtf{
    text-align: justify;
}
.mg-top{
   margin-top:100px ;
}
ul{
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(211, 173, 7);
    position: fixed;
    top: 0;
    width: 100%;
}
li{
    display: inline;
    float: left;
}
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
    background-color: rgb(209, 138, 6);
    color: black;
}
a{
    text-decoration: none;
}
.blt{
    width:30px;
    align-items: center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* width: 210px; */
    height: 30px;
    padding: 0.16rem;
    float: left;
    animation: button1 75s infinite; 
    -webkit-animation: button1 75s infinite;
  }
.kiri{
    float:right;   
    width: 3rem;
} 
.box-luar{
    height: 35px;
    padding: 0.19rem;
    background-color: #323232;
    margin :5px;
} 
.round-1{
    border-radius: 4.8rem;
}
.textku{
  
    align-items: left;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* width: 210px; */
    height: 30px;
    padding: 0.16rem;
    float: left;
    padding-left: 10px;
}
.gbku{
    background-image: url('../img/a.gif');
    background-repeat: no-repeat;
    width:50px;
    height:50px;
}
.gb_kotak{
    display: block;
    max-width: 25%;
   
    margin: 0.1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid rgb(202, 202, 202);
    
    }